.icon {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: transparent;
  cursor: pointer;

  align-items: center;
  justify-items: center;
  text-align: center;
}

.iconimage {
  position: absolute;

  text-align: center;
}
.iconimage_selected {
  position: absolute;

  filter: drop-shadow(0 0 blue);
  opacity: 0.8;
}

.iconimage img .iconimage_selected {
  width: 40px;
  height: 40px;
}

.iconlabel {
  position: absolute;
  bottom: 0;
  top: 48px;

  height: 15px;
  /* text-align: center; */
  font-size: 12px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.iconlabel_selected {
  position: absolute;
  bottom: 0;
  top: 48px;

  height: 15px;
  /* text-align: center; */
  font-size: 12px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgb(11, 97, 255);
}
.icon_overlay {
  position: absolute;

  background-color: rgba(0, 0, 255, 0.3);
  border-radius: 3px;
}
